.form {
  text-align: center; }
  @media (max-width: 576px) {
    .form {
      width: 100%; } }
  .form input, .form select {
    background: #fffdf0;
    color: #323132;
    border: 2px solid #323132;
    height: 40px;
    font-size: 16px;
    padding: 5px 15px; }
    @media (max-width: 576px) {
      .form input, .form select {
        width: 100%;
        margin-bottom: 15px; } }
  .form label, .form p {
    color: #323132;
    display: block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-bottom: 5px;
    text-align: left; }
    @media (max-width: 576px) {
      .form label, .form p {
        text-align: center; } }
  .form select {
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    width: 200px; }
    @media (max-width: 576px) {
      .form select {
        width: 100%; } }
  .form span {
    color: #323132;
    font-size: 16px;
    font-weight: 900;
    padding: 0 5px; }
    @media (max-width: 576px) {
      .form span {
        display: none; } }
  .form__button {
    background: #00cd74;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 30px;
    padding: 10px 25px;
    color: #fffdf0;
    cursor: pointer; }
  .form__button:disabled {
    background-color: gray; }
  .form__focus input {
    border: 2px solid #00b7cd;
    color: #00b7cd; }
  .form__focus select {
    border: 2px solid #00b7cd;
    color: #00b7cd; }

.form__rg {
  display: flex;
  padding-bottom: 30px;
  justify-content: center; }
  @media (max-width: 576px) {
    .form__rg {
      flex-direction: column; } }

.form__gender {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 576px) {
    .form__gender {
      flex-direction: column; } }
  .form__gender input[type=radio] {
    display: none; }
  .form__gender input[type=radio]:checked + label {
    background-color: #323132;
    color: #fffdf0;
    border: 2px solid #323132; }
  .form__gender label {
    display: flex;
    align-items: center;
    background: #fffdf0;
    height: 40px;
    border: 2px solid #323132;
    padding: 5px 20px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 700; }
    @media (max-width: 576px) {
      .form__gender label {
        width: 100%;
        justify-content: center;
        margin-bottom: 15px; } }
  .form__gender label:hover {
    border: 2px solid #00b7cd;
    color: #00b7cd; }
  .form__gender:hover p {
    color: #00b7cd; }
  .form__gender p {
    padding-right: 10px;
    margin: 0; }
