.order-steps {
  background: #eae8dd;
  padding: 0 15%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 850px) {
    padding: 0 5%;
  }
  @media (max-width: 576px) {
    flex-wrap: wrap;
  }
  &__box {
    display: flex;
    align-items: center;
  }
  &__number {
    border: 2px solid #cbcac1;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    color: #cbcac1;
    margin-right: 10px;
    &--done {
      background: #cbcac1;
      color: #eae8dd;
    }
    &--active {
      color: #00b7cd;
      border: 2px solid #323132;
      background: #323132;
    }
  }
  &__name {
    text-transform: uppercase;
    font-size: 13px;
    color: #cbcac1;
    font-weight: 700;
    &--active {
      color: #323132;
    }
  }
}