.navbar {
  background: #232223;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  flex-wrap: wrap;
  @media (max-width: 576px) {
    padding: 10px 25px;
    align-items: flex-start;
  }
  &__logo {
    width: 125px;
    img {
      width: 100%;
    }
  }
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    @media (max-width: 576px) {
      width: 100vw;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &__link {
    color: #fffdf0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    @media(max-width: 576px) {
      display: inline-block;
      padding: 10px 0 0;
      font-size: 16px;
    }
    &--circle {
      width: 6px;
      height: 6px;
      border: 1px solid #00b7cd;
      border-radius: 50%;
      margin: 0 15px;
      @media(max-width: 576px) {
        display: none;
      }
    }
  }
  &__mobile {
    @media(max-width: 576px) {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  &__toggle {
    display: none;
    cursor: pointer;
    @media (max-width: 576px) {
      display: block;
    }
  }
}